@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    color: #333;
    font-family: -apple-system, "Noto Sans JP", sans-serif;
}

h1, h2, h3, h4, h5, h6, .c-title, .p-subtitle, .p-related__item a {
    font-family: "Noto Sans JP", sans-serif;
}

.c-article__title a {
    color: #333;
}

.c-article__summary {
    color: #666;
}

.p-article h2 {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 2.2rem;
    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
}

.p-article h3 {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 4rem;
}

.p-article h4 {
    font-size: 1.7rem;
    font-weight: bolder;
}

.p-title {
    font-size: 3rem;
}

.p-subtitle {
    margin-top: 6px;
}

.p-menu__lists {
    margin-top: -4em;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
    border-bottom-width: 1px;
    padding-bottom: 3px;
}

code {
    font-family: 'Source Code Pro', monospace;
}
