@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, YakuHanJP, "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}

.c-article__title a {
    color: #333;
}

.c-article__summary {
    color: #666;
}

.p-article h2 {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 2.2rem;
    /* font-feature-settings: "palt"; */
    /* padding-bottom: 0.25em; */
    /* color: #555; */
    border-bottom-color: #333;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    margin-top: 1.8rem;
    margin-bottom: 1.5rem;
}

.p-article h3 {
    font-size: 1.8rem;
    font-weight: bolder;
}

.p-article h4 {
    font-size: 1.8rem;
}

.p-title {
    font-size: 3rem;
}

.p-subtitle {
    margin-top: 6px;
}

.p-menu__lists {
    margin-top: -4em;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: #e6e6e6;
    border-bottom-width: 1px;
    padding-bottom: 3px;
}

code {
    font-family: 'Source Code Pro', monospace;
}